*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px ;
}
.container{
    background-color: lightcoral;
    padding: 80px 20px ;
    max-width: 100%;
    width: 800px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 7px 7px 50px;
}
h3{
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
    font-size: 20px;
}
.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}
.btn{
    background-color: lightseagreen;
    border: none;
    outline: none;
    padding: 15px 50px;
    border-radius: 10px;
    color: white;
    box-shadow: 0.5px 0.5px 15px;
    font-size: 15px;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0vw;
}